<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guest Form</title>
    <!-- Link to JavaScript -->
    <script src="/js/guestform.js"defer></script>
    
    <!-- Favicon -->
    <link rel="icon" href="images/form_icon.png">
    
    <!-- Stylesheet -->
    <link rel="stylesheet" href="styles/form-style.css"> 
</head>
<body>
    <%- include('partials/navbar') %>
    <h1>Thank you for your confirmation!  <%= order.fname %>!</h1>
    <p>Name: <%= order.fname %> <%= order.lname %></p>
        <p>Job Title: <%= order.jtitle %></p>
        <p>Company: <%= order.company %></p>
        <p>LinkedIn: <%= order.linkedin %></p>
        <p>Meet: <%= order.meet %></p>
        <p>Message: <%= order.message %></p>
        <p>Date/Time: <%= order.timestamp.toLocaleString() %></p>
    <a href="/">Back to the Form</a>
</body>
</html>